# Group 1:
# Gavin Stone, Isaac Adams, Kaden Hicklin, Owen Miller, Samuel Shevlin, Sullivan Gleason

BL-Flicker-Images-Book.csv file questions: 
1. For the Title column, only keep the title part, remove all of the other parts. If the title is inside a bracket, remove the bracket which encloses the title. If there are multiple …, only keep the words before the first one. If there are multiple periods (.), only keep words before the first one. The following shows the sample results after the cleaning for title column:
2. For the Author and Contributors columns, only keep the first author, remove all of the other parts. If the author or the contributor has other auxiliary information, remove them. title is inside a bracket, remove the bracket which encloses the title. If there are multiple …, only keep the words before the first one. If there are multiple periods (.), only keep words before the first one. For all of the names, they should only have the first letter of the first, middle and last names be capital letter, all of the remaining letters should be small case. The following shows the sample results after the cleaning for title column:
3. After cleaning the above columns, save the cleaned data back into a new .csv file.

In [7]:
import pandas as pd;

df = pd.read_csv('BL-Flickr-Images-Book.csv')


def cleanTitle(title):
    title = title.replace("[","")
    title = title.replace("]","")
    if '...' in title:
        return title[0:title.find("...")+3]
    elif '.' in title:
        return title[0:title.find(".")+1]
    return title


df['Title'] = df['Title'].apply(cleanTitle)

#check outputs
print(df['Title'].head(50))

0                                        Walter Forbes.
1                                        All for Greed.
2                                     Love the Avenger.
3     Welsh Sketches, chiefly ecclesiastical, to the...
4     The World in which I live, and my place in it....
5     The World in which I live, and my place in it....
6                                            Lagonells.
7                The Coming of Spring, and other poems.
8     A Warning to the inhabitants of England, and L...
9                               A Satyr against Vertue.
10    An Account of the many and great Loans, Benefa...
11    Erindringer som Bidrag til Norges Historie fra...
12             Gli Studi storici in terra d'Otranto ...
13    De Aardbol. Magazijn van hedendaagsche land- e...
14               Cronache Savonesi dal 1500 al 1570 ...
15                                 See-Saw; a novel ...
16    Géodésie d'une partie de la Haute Éthiopie,...
17                                    With eleven maps.
18    Historia geográfica, civil y politica de la I...
19    The Crisis of the Revolution, being the story ...
20                                 Peace: a lyric poem.
21    Abdallah; or, The Arabian Martyr: a Christian ...
22             Abdollatiphi Historiæ Ægypti compendium.
23                     The Comic History of England ...
24                     The comic history of England ...
25                        The Comic History of Rome ...
26    Signa: opera in tre atti founded on the novel ...
27       The Venetian Outlaw, a drama in three acts ...
28    Description of the Coast between Aberdeen and ...
29                           Aus Kaukasischen Ländern.
30    Selections from the Municipal Chronicles of th...
31    The Plains of Abraham, 1759, a spot sacred to ...
32    The Witwatersrand Gold Mines. A true and unvar...
33    The New Era of the Goldmining Industry in the ...
34                             Tirol und Vorarlberg ...
35    A Question of Holy Writ, suggested by a lectur...
36    A Summer in High Asia: being a record of sport...
37    A Hand-book and History of Sidmouth from the T...
38    The Historie of Eald Street, now called Old St...
39    First (-Third) Annual Report on the Geology of...
40                                       The New Egypt.
41                                Tiberius: a drama ...
42    Memoirs of the Life and Doctrines of the late ...
43    The Narrative of Robert Adams, a sailor, who w...
44    The Narrative of Robert Adams, a sailor, who w...
45                                  East End Idylls ...
46    Acta historiam regis Chistierni II. illustrant...
47    The Works of the late Right Honourable Joseph ...
48    The Poetical Works of Joseph Addison; Gay's Fa...
49    L'Esprit d'Addisson, ou les Beautés du Specta...
Name: Title, dtype: object

In [8]:
import pandas as pd;

df = pd.read_csv('BL-Flickr-Images-Book.csv')

def cleanAuthContributors(author_contributor):
    author_parts = author_contributor.split(',')
    first_author_part = author_parts[0]
    
    initials = [name.strip()[0].upper() + name.strip()[1:].lower() for name in first_author_part.split()]
    
    cleaned_author = ' '.join(initials)
    
    return cleaned_author

df['Author'] = df['Author'].fillna('').apply(cleanAuthContributors)
df['Contributors'] = df['Contributors'].fillna('').apply(cleanAuthContributors)

print(df['Author'].head(50))
print(df['Contributors'].head(50))

0                A. A.
1                   A.
2                   A.
3                   A.
4                   A.
5                   A.
6                   A.
7                   A.
8               Remaʿ.
9                   A.
10
11                Aall
12                 Aar
13
14               Abate
15               Abati
16             Abbadie
17             Abbadie
18    Abbad Y Lasierra
19              Abbatt
20              Abbott
21
22
23           A'beckett
24           A'beckett
25           A'beckett
26           A'beckett
27
28
29               Abich
30
31
32             Abraham
33             Abraham
34          Achleitner
35    Ackland - Lieut.
36               Adair
37
38
39
40               Adams
41               Adams
42               Adams
43               Adams
44               Adams
45              Adcock
46                Adde
47             Addison
48             Addison
49             Addison
Name: Author, dtype: object
0             Forbes
1      Blaze De Bury
2      Blaze De Bury
3          Appleyard
4             Broome
5             Broome
6             Ashley
7            Andrews
8              Adams
9             Oldham
10             Carte
11              Aall
12                S.
13           Witkamp
14          Assereto
15             Reade
16             Radau
17             Radau
18    Acosta Y Calbo
19            André
20          Wrangham
21            Barham
22             White
23             Leech
24             Leech
25             Leech
26         Mazzucato
27          Elliston
28            Duncan
29             Abich
30         Challenor
31          Brotanek
32          Simonsen
33          Simonsen
34               Ubl
35          Plimsoll
36           Godfrey
37        Hutchinson
38    King - Printer
39             Adams
40          Longsdon
41          Rossetti
42            Hunter
43              Cock
44              Cock
45          Adderley
46            Geijer
47           Tickell
48         Gilfillan
49                A.
Name: Contributors, dtype: object

In [10]:
df.to_csv('BL-Flickr-Images-Book.csv', index=False)

olympics.csv file questions: 
1. Drop all of the countries which don’t have gold medals, and save the cleaned one back into a new .csv file.
2. Output the top five gold medal countries.
3. Output the countries that have all three kinds of medals for both summer and winter games.
4. You may use previous unit learned concepts on multi-level indexing, pivoting, stacking to rearrange the original .csv file to convert summer and winter as secondary level index within the country index, and then generate a new .csv file which will have country as the primary index, then summer and winter as secondary index, and columns of gold, silver and bronze medals.

In [ ]:
import pandas as pd
df = pd.read_csv('olympics.csv')

'''Question 1'''
#Filter out countries with zero gold medals
df = df[df['01 !'] > 0]
df_sorted.to_csv('olympics.csv', index=False)

In [ ]:
'''Question 2'''
#Create new value to see thee total between Summer and Winter gold medals
df['Total_Gold'] = df['01 !'] + df['01 !.2']

#Sort file by order of total gold medals descending
df_sorted = df.sort_values(by='Total_Gold', ascending=False)

#Output the top 5 countries with the most gold medals
top5 = df_sorted.head(5)
print("\n\nTop 5 countries with the most gold medals:")
print(top5[['Country', 'Total_Gold']])

In [ ]:
'''Question 3'''
#If a country has at least 1 of every medal add them to filteredCountries
filteredCountries = df[(df['01 !'] >= 1) & (df['02 !'] >= 1) & (df['03 !'] >= 1) &
                        (df['01 !.1'] >= 1) & (df['02 !.1'] >= 1) & (df['03 !.1'] >= 1)]

#Output
print("\n\nCountries that have all three kinds of medals for both summer and winter games:")
for country in filteredCountries['Country']:
    #Print name of country that meets criteria
    print(country)


#Save All
df_sorted.to_csv('olympics.csv', index=False)