# Group 1:
# Gavin Stone, Isaac Adams, Kaden Hicklin, Owen Miller, Samuel Shevlin, Sullivan Gleason

Sacramentorealestatetransactions.csv questions: 
1.  With Hierarchical Indexing, rearrange the data to create a first dataframe which will have
    first level of index of city, second level of index of zip, please also rename index and
    column to make them more understandable, such as change zip to zipcode. Display the
    first eight rows of data. Do some plotting to reflect this new dataframe.
2.  Try stack and unstack with the above created dataframe. Display the first eight rows of
    data.
3.  With Hierarchical Indexing, rearrange the data to create a second dataframe which will
    have first level of index of city, second level of index of zip, columns of bed, bath and
    sale_date. Please also rename index and column to make them more understandable,
    such as change zip to zipcode. Display the first eight rows of data.
4.  Reshape the above two newly created dataframes and merge them.

In [134]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
df = pd.read_csv('Sacramentorealestatetransactions.csv')
df1 = df.set_index(['city','zip'])
df1.index.names = ['City', 'Zipcode']
df1.rename(columns={'beds': 'Bed(s)', 
                    'baths':'Bath(s)', 
                    'sale_date':'Sale Date', 
                    'street':'Street',
                    'state':'State',
                    'sq__ft':'Square Feet',
                    'type':'Property Type',
                    'price':'Price($)',
                    'latitude':'Latitude',
                    'longitude':'Longitude',}, inplace=True) 

df1.head(8)
# and then plotting will go here

                                 Street State  Bed(s)  Bath(s)  Square Feet  \
City       Zipcode
SACRAMENTO 95838           3526 HIGH ST    CA       2        1          836
           95823            51 OMAHA CT    CA       3        1         1167
           95815         2796 BRANCH ST    CA       2        1          796
           95815       2805 JANETTE WAY    CA       2        1          852
           95824        6001 MCMAHON DR    CA       2        1          797
           95841     5828 PEPPERMILL CT    CA       3        1         1122
           95842    6048 OGDEN NASH WAY    CA       3        2         1104
           95820          2561 19TH AVE    CA       3        1         1177

                   Property Type                     Sale Date  Price($)  \
City       Zipcode
SACRAMENTO 95838     Residential  Wed May 21 00:00:00 EDT 2008     59222
           95823     Residential  Wed May 21 00:00:00 EDT 2008     68212
           95815     Residential  Wed May 21 00:00:00 EDT 2008     68880
           95815     Residential  Wed May 21 00:00:00 EDT 2008     69307
           95824     Residential  Wed May 21 00:00:00 EDT 2008     81900
           95841           Condo  Wed May 21 00:00:00 EDT 2008     89921
           95842     Residential  Wed May 21 00:00:00 EDT 2008     90895
           95820     Residential  Wed May 21 00:00:00 EDT 2008     91002

                     Latitude   Longitude
City       Zipcode
SACRAMENTO 95838    38.631913 -121.434879
           95823    38.478902 -121.431028
           95815    38.618305 -121.443839
           95815    38.616835 -121.439146
           95824    38.519470 -121.435768
           95841    38.662595 -121.327813
           95842    38.681659 -121.351705
           95820    38.535092 -121.481367

In [2]:
#2. stack
df = pd.read_csv('Sacramentorealestatetransactions.csv')
df1 = df.set_index(['city','zip'])
df1.index.names = ['City', 'Zipcode']
df1_stacked = df1.stack()
print(df1_stacked.head(8))

City        Zipcode
SACRAMENTO  95838    street                       3526 HIGH ST
                     state                                  CA
                     beds                                    2
                     baths                                   1
                     sq__ft                                836
                     type                          Residential
                     sale_date    Wed May 21 00:00:00 EDT 2008
                     price                               59222
dtype: object

In [3]:
#2. unstack
df = pd.read_csv('Sacramentorealestatetransactions.csv')
df2 = df.set_index(['city','zip'])
df2.index.names = ['City', 'Zipcode']
df2_unstacked = df2.unstack()
print(df2_unstacked.head(8))
# unstacking this particular dateframe always results in a "Index contains duplicate entries, cannot reshape" error

ValueError: Index contains duplicate entries, cannot reshape

In [68]:
#3.
import numpy as np 
import pandas as pd
df = pd.read_csv('Sacramentorealestatetransactions.csv')
df1 = df.set_index(['city','zip'])
df3 = pd.DataFrame(data=df1, columns=['beds', 'baths', 'sale_date'])
df3.index.names = ['City', 'Zipcode']
df3.rename(columns={'beds': 'Bed(s)', 'baths':'Bath(s)', 'sale_date':'Sale Date'}, inplace=True) 
df3.head(8)

                    Bed(s)  Bath(s)                     Sale Date
City       Zipcode
SACRAMENTO 95838         2        1  Wed May 21 00:00:00 EDT 2008
           95823         3        1  Wed May 21 00:00:00 EDT 2008
           95815         2        1  Wed May 21 00:00:00 EDT 2008
           95815         2        1  Wed May 21 00:00:00 EDT 2008
           95824         2        1  Wed May 21 00:00:00 EDT 2008
           95841         3        1  Wed May 21 00:00:00 EDT 2008
           95842         3        2  Wed May 21 00:00:00 EDT 2008
           95820         3        1  Wed May 21 00:00:00 EDT 2008

In [88]:
#4.
df = pd.read_csv('Sacramentorealestatetransactions.csv')

df1 = df.set_index(['city','zip'])
df1.index.names = ['City', 'Zipcode']
df1.rename(columns={'beds': 'Bed(s)', 
                    'baths':'Bath(s)', 
                    'sale_date':'Sale Date', 
                    'street':'Street',
                    'state':'State',
                    'sq__ft':'Square Feet',
                    'type':'Property Type',
                    'price':'Price($)',
                    'latitude':'Latitude',
                    'longitude':'Longitude',}, inplace=True) 

df3 = pd.DataFrame(data=df1, columns=['beds', 'baths', 'sale_date'])
df3.index.names = ['City', 'Zipcode']
df3.rename(columns={'beds': 'Bed(s)', 'baths':'Bath(s)', 'sale_date':'Sale Date'}, inplace=True) 

df4 = df1.combine_first(df3)
df4.head(8)

                    Bath(s)  Bed(s)   Latitude   Longitude  Price($)  \
City       Zipcode
SACRAMENTO 95838          1       2  38.631913 -121.434879     59222
           95823          1       3  38.478902 -121.431028     68212
           95815          1       2  38.618305 -121.443839     68880
           95815          1       2  38.616835 -121.439146     69307
           95824          1       2  38.519470 -121.435768     81900
           95841          1       3  38.662595 -121.327813     89921
           95842          2       3  38.681659 -121.351705     90895
           95820          1       3  38.535092 -121.481367     91002

                   Property Type                     Sale Date  Square Feet  \
City       Zipcode
SACRAMENTO 95838     Residential  Wed May 21 00:00:00 EDT 2008          836
           95823     Residential  Wed May 21 00:00:00 EDT 2008         1167
           95815     Residential  Wed May 21 00:00:00 EDT 2008          796
           95815     Residential  Wed May 21 00:00:00 EDT 2008          852
           95824     Residential  Wed May 21 00:00:00 EDT 2008          797
           95841           Condo  Wed May 21 00:00:00 EDT 2008         1122
           95842     Residential  Wed May 21 00:00:00 EDT 2008         1104
           95820     Residential  Wed May 21 00:00:00 EDT 2008         1177

                   State               Street
City       Zipcode
SACRAMENTO 95838      CA         3526 HIGH ST
           95823      CA          51 OMAHA CT
           95815      CA       2796 BRANCH ST
           95815      CA     2805 JANETTE WAY
           95824      CA      6001 MCMAHON DR
           95841      CA   5828 PEPPERMILL CT
           95842      CA  6048 OGDEN NASH WAY
           95820      CA        2561 19TH AVE

In [91]:
# or you can merge like this, which results in some NaN values 
df = pd.read_csv('Sacramentorealestatetransactions.csv')

df1 = df.set_index(['city','zip'])
df1.index.names = ['City', 'Zipcode']
df1.rename(columns={'beds': 'Bed(s)', 
                    'baths':'Bath(s)', 
                    'sale_date':'Sale Date', 
                    'street':'Street',
                    'state':'State',
                    'sq__ft':'Square Feet',
                    'type':'Property Type',
                    'price':'Price($)',
                    'latitude':'Latitude',
                    'longitude':'Longitude',}, inplace=True) 

df3 = pd.DataFrame(data=df1, columns=['beds', 'baths', 'sale_date'])
df3.index.names = ['City', 'Zipcode']
df3.rename(columns={'beds': 'Bed(s)', 'baths':'Bath(s)', 'sale_date':'Sale Date'}, inplace=True) 

df4 = pd.merge(df1, df3, on=['City','Zipcode'])
df4.head(8)

                          Street State  Bed(s)_x  Bath(s)_x  Square Feet  \
City       Zipcode
SACRAMENTO 95838    3526 HIGH ST    CA         2          1          836
           95838    3526 HIGH ST    CA         2          1          836
           95838    3526 HIGH ST    CA         2          1          836
           95838    3526 HIGH ST    CA         2          1          836
           95838    3526 HIGH ST    CA         2          1          836
           95838    3526 HIGH ST    CA         2          1          836
           95838    3526 HIGH ST    CA         2          1          836
           95838    3526 HIGH ST    CA         2          1          836

                   Property Type                   Sale Date_x  Price($)  \
City       Zipcode
SACRAMENTO 95838     Residential  Wed May 21 00:00:00 EDT 2008     59222
           95838     Residential  Wed May 21 00:00:00 EDT 2008     59222
           95838     Residential  Wed May 21 00:00:00 EDT 2008     59222
           95838     Residential  Wed May 21 00:00:00 EDT 2008     59222
           95838     Residential  Wed May 21 00:00:00 EDT 2008     59222
           95838     Residential  Wed May 21 00:00:00 EDT 2008     59222
           95838     Residential  Wed May 21 00:00:00 EDT 2008     59222
           95838     Residential  Wed May 21 00:00:00 EDT 2008     59222

                     Latitude   Longitude  Bed(s)_y  Bath(s)_y  Sale Date_y
City       Zipcode
SACRAMENTO 95838    38.631913 -121.434879       NaN        NaN          NaN
           95838    38.631913 -121.434879       NaN        NaN          NaN
           95838    38.631913 -121.434879       NaN        NaN          NaN
           95838    38.631913 -121.434879       NaN        NaN          NaN
           95838    38.631913 -121.434879       NaN        NaN          NaN
           95838    38.631913 -121.434879       NaN        NaN          NaN
           95838    38.631913 -121.434879       NaN        NaN          NaN
           95838    38.631913 -121.434879       NaN        NaN          NaN

credit-data-non-null.csv questions: 
1.  Write a custom function called cap_value(x, cap) that will set x to the cap if x > cap.
    Then apply it to debt_ratio with a cap of 5.
2.  Use groupby to calculate the percent of customers that went bad for each age
3.  Add a new column age_group for the dataframe. Divide the age into groups of every 10
    years in ascending order, then rearrange the data to match the age_group categorization.
    Display the first eight rows of data. Do some plotting to reflect it. Use age_group for
    data aggregation on revolving_utilization_of_unsecured_lines and monthly_income.
    Display the result.
4.  Regroup data using number_real_estate_loans_or_lines and serious_dlqin2yrs, display
    the first eight rows of data and do some plotting to reflect this it. Then do count, mean,
    max, min on revolving_utilization_of_unsecured_lines and monthly_income. Display the
    result. Then select the top five monthly_income values by group and display it